<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jasonhuang.uofcfitnessapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setGoalActivity"
            android:noHistory="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CalendarActivity"
            android:noHistory="false"
            android:parentActivityName=".setGoalActivity" />
        <activity
            android:name=".addExerciseActivity"
            android:noHistory="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".muscleGroupActivity"
            android:noHistory="false"
            android:parentActivityName=".setGoalActivity" />
        <activity
            android:name=".reminderActivity"
            android:parentActivityName=".MainActivity" />

        <receiver android:name=".BroadcastManager" />

        <service
            android:name=".TriggerManager"
            android:enabled="true" />

        <activity
            android:name=".dateActivity"
            android:parentActivityName=".reminderActivity" />
        <activity
            android:name=".addExerciseMuscleGroupActivity"
            android:parentActivityName=".addExerciseActivity"></activity>
    </application>

</manifest>